<!-- Search -->
<h1>Lista de Artistas</h1>
<input type="text" [(ngModel)]="inputTexto" />
<button
  type="button"
  class="btn btn-primary"
  *ngIf="selectOpcoes.hasError('required'); else valid"
  disabled
  #valid
>
  Pesquisar
</button>
<ng-template #valid>
  <button type="button" class="btn btn-success" (click)="pesquisar()">
    Pesquisar
  </button>
</ng-template>

<select
  class="form-select"
  aria-label="Default select example"
  [(ngModel)]="selectTipo"
  [formControl]="selectOpcoes"
  required
>
  <option selected>Open this select menu</option>
  <option value="artista">Artista</option>
  <option value="album">Album</option>
</select>
<ng-template #valid>
  <button color="primary" (click)="pesquisar()">Pesquisar</button>
</ng-template>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<!-- Home -->
<div *ngIf="listaAlbum; else listaArtista">
  <div *ngFor="let item of itens">
    <div class="card">
      <h2>Album:</h2>
      <div class="card-body">{{ item.name }}</div>
      <h2>Artista</h2>
      <div class="card-body">{{ item.artist }}</div>
    </div>
  </div>
</div>

<ng-template #listaArtista>
  <div *ngFor="let item of itens">
    <div class="card">
      <h2>Artista:</h2>
      <div class="card-body">{{ item.name }}</div>
    </div>
  </div>
</ng-template>
