<body>
  <div class="container">
    <app-historico></app-historico>
    <!-- Header -->
    <header class="header">
      <div class="header-left">
        <input
          type="text"
          placeholder="Digite sua pesquisa"
          [(ngModel)]="inputTexto"
        />
        <select [(ngModel)]="selectTipo" [formControl]="selectOpcoes" required>
          <option [defaultSelected]="defaultItem" textField="text">
            Escolha o tipo
          </option>
          <option value="artista">Artista</option>
          <option value="album">Album</option>
        </select>

        <button
          type="button"
          *ngIf="selectOpcoes.hasError('required'); else valid"
          disabled
          #valid
        >
          Pesquisar
        </button>
        <ng-template #valid>
          <button type="button" class="btn btn-success" (click)="pesquisar()">
            Pesquisar
          </button>
        </ng-template>
      </div>
    </header>
    <!-- End Header -->

    <!-- Home -->
    <main>
      <div class="content">
        <div class="main-title">
          <h2>Pesquise sobre o seu gosto musical!</h2>
        </div>

        <div class="cards">
          <article>
            <div *ngIf="listaAlbum; else listaArtista">
              <div
                class="card"
                *ngFor="
                  let item of itens"
              >
                <h3>Album:</h3>
                <div>{{ item.name }}</div>
                <h3>Artista:</h3>
                <div>{{ item.artist }}</div>
              </div>
            </div>
          </article>

          <ng-template #listaArtista>
            <div
              class="card"
              *ngFor="
                let item of itens
                  | paginate
                    : { itemsPerPage: itensPorPagina, currentPage: paginaAtual }
              "
            >
              <div class="card-inner">
                <h3>Artista</h3>
                <div>{{ item.name }}</div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </main>
    <div *ngIf="dadosCarregados" class="pag">
      <pagination-controls
        (pageChange)="paginaAtual = $event"
      ></pagination-controls>
    </div>

    <!-- End Main -->
  </div>
</body>
