
<aside id="sidebar">
  <div class="sidebar-title">
    <div class="sidebar-brand">
      <span>
        <a href=""><img src="assets/last-fm.png" style="width: 90%" /></a>
      </span>
    </div>
  </div>

  <ul class="sidebar-list">
    <li class="sidebar-list-item">
      <h3>Histórico de busca</h3>
    </li>
    <button type="button" (click)="clear()">Limpar</button>
  </ul>

  <div class="historic-list" (change)="count($event)">
    <div *ngFor="let item of itens">
      <div *ngIf="item.selectTipo == 'artista'">
        Artista:
        <h3>{{ item.inputTexto }}</h3>
      </div>
      <div *ngIf="item.selectTipo == 'album'">
        Álbum:
        <h3>{{ item.inputTexto }}</h3>
      </div>
    </div>
  </div>
</aside>
